@keyframes eVa7LY9SFEw2_tr__tr {
    0% {
        transform: translate(100px, 138.485625px) rotate(44.999998deg);
        animation-timing-function: cubic-bezier(0, 0, .58, 1)
    }
    44%, to {
        transform: translate(100px, 138.485625px) rotate(224.999999deg)
    }
}
@keyframes eVa7LY9SFEw3_tr__tr {
    0% {
        transform: translate(100px, 112.828542px) rotate(44.999998deg);
        animation-timing-function: cubic-bezier(0, 0, .58, 1)
    }
    56%, to {
        transform: translate(100px, 112.828542px) rotate(224.999999deg)
    }
}
@keyframes eVa7LY9SFEw4_tr__tr {
    0% {
        transform: translate(100px, 87.17146px) rotate(44.999998deg);
        animation-timing-function: cubic-bezier(0, 0, .58, 1)
    }
    68%, to {
        transform: translate(100px, 87.17146px) rotate(224.999999deg)
    }
}
@keyframes eVa7LY9SFEw5_tr__tr {
    0% {
        transform: translate(100px, 61.514377px) rotate(44.999998deg);
        animation-timing-function: cubic-bezier(0, 0, .58, 1)
    }
    80%, to {
        transform: translate(100px, 61.514377px) rotate(224.999999deg)
    }
}


